[bumpversion]
current_version = 1.3.0
commit = True
tag = True
tag_name = {new_major}-{new_minor}-{new_patch}

[bumpversion:file:CHANGELOG.md]
search = [Unreleased]
replace = [{new_version}] - {now:%Y-%m-%d}

[bumpversion:file:CMakeLists.txt]
search = project(GTlab-Module-Generator VERSION {current_version})
replace = project(GTlab-Module-Generator VERSION {new_version})

[bumpversion:file:src/generator/settings/module_generator_settings.cpp]
search = ModuleGeneratorSettings::S_VERSION(QStringLiteral("{current_version}"))
replace = ModuleGeneratorSettings::S_VERSION(QStringLiteral("{new_version}"))
