# SPDX-FileCopyrightText: 2024 German Aerospace Center (DLR)
#
# SPDX-License-Identifier: MPL-2.0+

.vscode

Makefile*
build/
debug/
release/
.qtc_clangd/

CMakeLists.txt.user
*.autosave
*.directory
*.qmake.stash
*.o
*.pyc
moc_*.cpp
moc_*.h


module_generator.json
